<div class="container-fluid full-width" id="background-color">
  <div class="background-container container-fluid full-width vertical-center center-children">
    <div class="container-fluid full-width" id="background-img">
      <div id="landing-border">
        <p class="frame-text-w d-none d-md-block frame-l">&#8226; &#8226; &#8226; Mississauga, ON</p>
        <a class="frame-text-w d-none d-md-block frame-r" href="mailto:hello@janakitti.com">hello@janakitti.com</a>
        <div class="d-none d-md-flex vertical-center mr-3 socials-bar">
          <a href="//janakitti.com/assets/JanakittiRatanaRueangsri-Resume.pdf" target="_blank"><img
            src="../../../assets/icons/file-text-w.svg" class="social mb-3"></a>
          <a href="//github.com/janakitti" target="_blank"><img src="../../../assets/icons/link-github-w.svg"
                                                                class="social mb-3"></a>
          <a href="//linkedin.com/in/janakittiratana/" target="_blank"><img
            src="../../../assets/icons/link-linkedin-w.svg" class="social mb-3"></a>
          <a href="//instagram.com/artwork.jr/" target="_blank"><img src="../../../assets/icons/link-instagram-w.svg"
                                                                     class="social mb-3"></a>
          <a href="mailto:hello@janakitti.com" target="_blank"><img src="../../../assets/icons/link-mail-w.svg"
                                                                    class="social"></a>
        </div>
        <div class="d-flex d-md-none vertical-center mr-3 socials-bar-mobile">
          <a href="//janakitti.com/assets/JanakittiRatanaRueangsri-Resume.pdf" target="_blank"><img
            src="../../../assets/icons/file-text.svg" class="social mr-3"></a>
          <a href="//github.com/janakitti" target="_blank"><img src="../../../assets/icons/link-github.svg"
                                                                class="social mr-3"></a>
          <a href="//linkedin.com/in/janakittiratana/" target="_blank"><img
            src="../../../assets/icons/link-linkedin.svg" class="social mr-3"></a>
          <a href="//instagram.com/artwork.jr/" target="_blank"><img src="../../../assets/icons/link-instagram.svg"
                                                                     class="social mr-3"></a>
          <a href="mailto:hello@janakitti.com" target="_blank"><img src="../../../assets/icons/link-mail.svg"
                                                                    class="social"></a>
        </div>
        <div class="px-5 py-3" id="title-container">

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid full-width pb-5" id="body-container">
    <div class="row d-flex justify-content-center">
      <div class="portfolio-body-white col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6 px-0 px-md-5 center-children">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
          College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
          and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem
          Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
          Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
          Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
          1.10.32.
        </p>
        <img src="../../../assets/images/portfolio/hush-hush-1.png" class="portfolio-img">
        <div class="portfolio-img-desc">Level 4</div>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
          College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
          and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem
          Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
          Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
          Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
          1.10.32.
        </p>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
