.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.social {
  height: 1.5em;
}
