<div class="container">
  <h1>janakitti</h1>
</div>
<div class="icon-container">
  <a href="//github.com/janakitti" target="_blank"
    ><img src="/icons/link-github.svg" class="social"
  /></a>
  <a href="//linkedin.com/in/janakittiratana/" target="_blank"
    ><img src="/icons/link-linkedin.svg" class="social"
  /></a>
  <a href="//instagram.com/artwork.jr/" target="_blank"
    ><img src="/icons/link-instagram.svg" class="social"
  /></a>
  <a href="mailto:hello@janakitti.com" target="_blank"
    ><img src="/icons/link-mail.svg" class="social"
  /></a>
  <a href="https://se-webring.xyz/" target="_blank"
    ><img src="/icons/se-webring.svg" class="social"
  /></a>
</div>
