<div class="featured-card">
  <div class="row featured-card-row">
    <div class="col-3 featured-card-img">
    </div>
    <div class="col-9 py-3 pl-4 pr-5 featured-card-text">
      <h1 class="featured-card-featured">FEATURED</h1>
      <h1 class="featured-card-title">virtrolio</h1>
      <p class="featured-card-body">We're on Mississauga News! <a href="https://www.mississauga.com/community-story/10071561--something-to-cherish-former-mississauga-students-launch-online-yearbook/">Check it out!</a></p>
    </div>
  </div>
</div>
