<div class="background-container container-fluid full-width vertical-center center-children">
  <div class="container-fluid full-width" id="background-img">
    <div id="landing-border">
      <p class="frame-text d-none d-md-block frame-l" [ngClass]="{'frame-text-w': isDarkMode}">&#8226; &#8226; &#8226;
        Mississauga, ON</p>
      <a class="frame-text d-none d-md-block frame-r" [ngClass]="{'frame-text-w': isDarkMode}"
         href="mailto:hello@janakitti.com">hello@janakitti.com</a>
      <div class="d-none d-md-flex vertical-center mr-3 socials-bar">
        <a href="//janakitti.com/assets/JanakittiRatanaRueangsri-Resume.pdf" target="_blank"><img
          *ngIf="!isDarkMode" src="../../../assets/icons/file-text.svg" class="social mb-3"><img
          *ngIf="isDarkMode" src="../../../assets/icons/file-text-w.svg" class="social mb-3"></a>
        <a href="//github.com/janakitti" target="_blank"><img *ngIf="!isDarkMode"
                                                              src="../../../assets/icons/link-github.svg"
                                                              class="social mb-3"><img *ngIf="isDarkMode"
                                                                                       src="../../../assets/icons/link-github-w.svg"
                                                                                       class="social mb-3"></a>
        <a href="//linkedin.com/in/janakittiratana/" target="_blank"><img
          *ngIf="!isDarkMode" src="../../../assets/icons/link-linkedin.svg" class="social mb-3"><img
          *ngIf="isDarkMode" src="../../../assets/icons/link-linkedin-w.svg" class="social mb-3"></a>
        <a href="//instagram.com/artwork.jr/" target="_blank"><img *ngIf="!isDarkMode"
                                                                   src="../../../assets/icons/link-instagram.svg"
                                                                   class="social mb-3"><img *ngIf="isDarkMode"
                                                                                            src="../../../assets/icons/link-instagram-w.svg"
                                                                                            class="social mb-3"></a>
        <a href="mailto:hello@janakitti.com" target="_blank"><img *ngIf="!isDarkMode"
                                                                  src="../../../assets/icons/link-mail.svg"
                                                                  class="social"><img *ngIf="isDarkMode"
                                                                                      src="../../../assets/icons/link-mail-w.svg"
                                                                                      class="social"></a>
      </div>
      <div class="d-flex d-md-none vertical-center mr-3 socials-bar-mobile">
        <a href="//janakitti.com/assets/JanakittiRatanaRueangsri-Resume.pdf" target="_blank"><img *ngIf="!isDarkMode"
                                                                                                  src="../../../assets/icons/file-text.svg"
                                                                                                  class="social mr-3"><img
          *ngIf="isDarkMode" src="../../../assets/icons/file-text-w.svg" class="social mr-3"></a>
        <a href="//github.com/janakitti" target="_blank"><img *ngIf="!isDarkMode"
                                                              src="../../../assets/icons/link-github.svg"
                                                              class="social mr-3"><img *ngIf="isDarkMode"
                                                                                       src="../../../assets/icons/link-github-w.svg"
                                                                                       class="social mr-3"></a>
        <a href="//linkedin.com/in/janakittiratana/" target="_blank"><img
          *ngIf="!isDarkMode" src="../../../assets/icons/link-linkedin.svg" class="social mr-3"><img
          *ngIf="isDarkMode" src="../../../assets/icons/link-linkedin-w.svg" class="social mr-3"></a>
        <a href="//instagram.com/artwork.jr/" target="_blank"><img *ngIf="!isDarkMode"
                                                                   src="../../../assets/icons/link-instagram.svg"
                                                                   class="social mr-3"><img *ngIf="isDarkMode"
                                                                                            src="../../../assets/icons/link-instagram-w.svg"
                                                                                            class="social mr-3"></a>
        <a href="mailto:hello@janakitti.com" target="_blank"><img *ngIf="!isDarkMode"
                                                                  src="../../../assets/icons/link-mail.svg"
                                                                  class="social"><img *ngIf="isDarkMode"
                                                                                      src="../../../assets/icons/link-mail-w.svg"
                                                                                      class="social"></a>
      </div>
      <div class="px-5 py-3" id="title-container">
        <img [src]="image" class="portfolio-bg">
      </div>
    </div>
  </div>
</div>
