.shell {
  margin: 0 20%;
  min-height: 100vh;
  &.mobile {
    margin: 0 1em;
  }
}

.banner {
  height: 12em;
  padding: 1em;
  margin: 0 -1em;
  border-radius: 0.5em;
  display: flex;
  align-items: flex-end;

  background-color: coral;
}

.title {
  position: absolute;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  color: white;
}

.subtitle {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.8em;
  font-weight: lighter;
  line-height: 0;
  color: white;
}

.spacer {
  height: 1em;
}

.checkbox {
  list-style-type: none;
  position: relative;
  &::before {
    content: "■";
    position: absolute;
    left: -0.8em;
    font-size: 1.1em;
  }
}

::ng-deep p {
  font-size: 0.7em;
}
