<div class="container" [ngClass]="responsive.isMobile ? 'mobile' : ''">
  <div class="status">
    <div *ngFor="let status of statuses">
      <p [ngStyle]="{ color: status.color1 }">{{ status.title }}</p>
      <div class="bar-container">
        <div
          class="bar-status"
          [ngStyle]="{
            width: getBarPercentage(status.start, status.end) + '%',
            'background-color': status.color1,
            background:
              'repeating-linear-gradient(-55deg,' +
              status.color1 +
              ',' +
              status.color1 +
              ' 10px,' +
              status.color2 +
              ' 10px,' +
              status.color2 +
              ' 20px'
          }"
        ></div>
      </div>
    </div>
  </div>
  <div class="news">
    <div *ngFor="let item of news">
      <div class="card">
        <div class="image" [ngStyle]="{ 'background-color': item.color }">
          <img src="{{ item.imageUrl }}" />
        </div>
        <div class="body">
          <p class="supertitle">{{ item.supertitle | uppercase }}</p>
          <p class="title">{{ item.title }}</p>
          <p class="description">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
