<h2 class="section-title">Skills</h2>
<div class="skills-container py-2">
  <h2 class="skill-header">Languages</h2>
  <div *ngFor="let skill of languages" class="skill-item my-1" [ngStyle]="{'color': skill.color}">{{ skill.name }}</div>
</div>
<div class="skills-container py-2">
  <h2 class="skill-header">Tools</h2>
  <div *ngFor="let skill of tools" class="skill-item my-1" [ngStyle]="{'color': skill.color}">{{ skill.name }}</div>
</div>
<div class="skills-container py-2">
  <h2 class="skill-header">Frameworks/APIs</h2>
  <div *ngFor="let skill of frameworks" class="skill-item my-1" [ngStyle]="{'color': skill.color}">{{ skill.name }}</div>
</div>

