.skill-item {
  background-color: #eaeaea;
  margin: 3px;
  display: inline-block;
  border-radius: 30px;

  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.2em 0.5em;
}

.skill-item:hover {
  background-color: #cccccc;
}

.skill-header {
  font-family: Poppins, sans-serif;
  font-size: 1em;
  color: #595959;
}
