<p-carousel
  [value]="data"
  [numVisible]="defaultNumVisible"
  [numScroll]="1"
  [circular]="true"
  showIndicators="{{ responsive.isMobile ? 'true' : 'false' }}"
  [responsiveOptions]="responsiveOptions"
  showNavigators="{{ responsive.isMobile ? 'false' : 'true' }}"
>
  <ng-template let-datum pTemplate="item">
    <div *ngIf="datum.url !== undefined; else routerLinked">
      <div
        class="card border-1 surface-border border-round m-2 p-3"
        [ngStyle]="{ aspectRatio: aspectRatio }"
      >
        <a href="{{ datum.url }}">
          <img [src]="datum.imgUrl" />
        </a>
      </div>
      <p class="title" *ngIf="showName">{{ datum.name }}</p>
    </div>
    <ng-template #routerLinked>
      <div>
        <div
          class="card border-1 surface-border border-round m-2 p-3"
          [routerLink]="'/a/' + datum.id"
          [ngStyle]="{ aspectRatio: aspectRatio }"
        >
          <img [src]="datum.imgUrl" />
        </div>
        <p class="title" *ngIf="showName">{{ datum.name }}</p>
      </div>
    </ng-template>
  </ng-template>
</p-carousel>
