.container {
  margin: 0 -3em;
}

.card {
  width: auto;
  display: absolute;
  margin-right: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    opacity: 0.8;
    transition: 0.5s;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5em;
  }
}

.img-bg {
  height: 100%;
  background-color: rgb(183, 183, 183);
  border-radius: 0.5em;
}

.title {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.7em;
  color: #5e5e5e;
  margin-top: 0.4em;
}
