<p-carousel
  [value]="data"
  [numVisible]="defaultNumVisible"
  [numScroll]="1"
  [circular]="true"
  showIndicators="{{ responsive.isMobile ? 'true' : 'false' }}"
  [responsiveOptions]="responsiveOptions"
  showNavigators="{{ responsive.isMobile ? 'false' : 'true' }}"
>
  <ng-template let-datum pTemplate="item">
    <div *ngIf="datum.url !== undefined; else routerLinked">
      <div class="card" [ngStyle]="{ aspectRatio: aspectRatio }">
        <a href="{{ datum.url }}">
          <div class="img-bg">
            <img [src]="datum.imgUrl" />
          </div>
        </a>
      </div>
      <p class="title" *ngIf="showName">{{ datum.name }}</p>
    </div>
    <ng-template #routerLinked>
      <div>
        <div class="card" [ngStyle]="{ aspectRatio: aspectRatio }">
          <a href="/a/{{ datum.id }}">
            <div class="img-bg">
              <img [src]="datum.imgUrl" />
            </div>
          </a>
        </div>
        <p class="title" *ngIf="showName">{{ datum.name }}</p>
      </div>
    </ng-template>
  </ng-template>
</p-carousel>
