.background {
  background: var(--main-grey);
}

#project-card-row {
}

drag-scroll {
  height: 24em;
  width: 100%;
}

.project-card {
  display: inline-block;
  background: var(--main-grey);
  height: 20em;
  width: 15em;
  margin: 0 2em;
  border-radius: 1em;
  flex-shrink: 0;
  box-shadow: 10px 10px 25px -19px rgba(0,0,0,0.75);
  overflow: hidden;
}

.card-background {
  height: 100%;
}


