#timeline-container {
  background: var(--main-grey);
}

.timeline-container {
  display: flex;
  flex-direction: row;
  direction: rtl;
  overflow-x: auto;
}

.event {
  border-bottom: black solid 0.2em;
  padding: 2em 5em;
  margin-bottom: 0.3em;
  width: auto;
}

.title {
  font-family: Roboto;
  font-size: 1.3em;
  line-height: 0;
}

.date {
  font-family: Roboto;
  font-weight: lighter;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.dot {
  position: absolute;
  bottom: 0em;
  height: 0.8em;
  width: 0.8em;
  border-radius: 100%;
  background: black;
}

#present {
  padding-right: 50%;
  padding: 2em 5em;
  margin-bottom: 0.3em;
  width: 100vw;

  font-family: Poppins;
  font-size: 1.2em;
}

#present-spacer {
  background: red;
  width: 20em;
}

#timeline-chevrons {
  float: left;
}

#timeline-scroll-text {
  float: right;
}

#triangle-right {

}

::-webkit-scrollbar {
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 100em;
}

::-webkit-scrollbar-thumb:hover {
  background: #cccccc;
}
