#landing-container {
  /*background: rgb(70,1,93);*/
  /*background: linear-gradient(45deg, rgba(70,1,93,1) 0%, rgba(87,7,82,1) 100%);*/
  /* background: linear-gradient(223deg, #fae2f6, #c3a5d7, #d6edfe, #ffeee7);*/
  /*background: linear-gradient(223deg, #dddddd, #ebfaff, #ffebf1, #fffbeb, #ffffff);*/
  /*background: linear-gradient(223deg, #fc4a3a, #e0d314, #c2d627, #13d69f);*/
  background: linear-gradient(223deg, #ebdeff, #6F005D, #ebdeff);
  background-size: 600% 600%;

  -webkit-animation: BgAnimation 30s ease infinite;
  -moz-animation: BgAnimation 30s ease infinite;
  animation: BgAnimation 30s ease infinite;

  height: 100vh;
  width: 100%;
}

@-webkit-keyframes BgAnimation {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes BgAnimation {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes BgAnimation {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

#landing-img {
  background: url("../../../assets/images/landing-img.svg") no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
}

/*#landing-border {*/
/*  position: absolute;*/
/*  border: 0.1em solid white;*/
/*  top: 1em;*/
/*  bottom: 1em;*/
/*  left: 1em;*/
/*  right: 1em;*/
/*}*/

#title-container {
}

#landing-title {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 8vw;
  color: black;
}

#landing-title-mobile {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16vw;
  color: black;
}

#landing-subtitle {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 1.2vw;
  text-align: right;
  line-height: 0;
  color: black;
}

#landing-subtitle-mobile {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 4vw;
  text-align: right;
  line-height: 0;
  color: black;
}

.frame-text {
  position: absolute;
  top: 1em;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  color: black;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.frame-l {
  text-align: left;
  left: 1em;
  padding-right: 1em;
}

.frame-r {
  text-align: right;
  font-weight: normal;
  right: 1em;
  padding-left: 1em;
}

.socials-bar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.socials-bar-mobile {
  position: absolute;
  bottom: 1em;
  right: 1em;
  flex-direction: row;
}

.social {
  height: 1.5em;
  width: 1.5em;
}

