<div
  class="container-fluid full-width vertical-center center-children"
  id="landing-container"
>
  <div class="container-fluid full-width" id="landing-img"></div>
  <!-- <img
      src="../../../assets/images/landing-images/landing-{{
        this.landingImg
      }}.svg"
      class="d-none d-md-block"
      id="title-img"
    />
    <img
      src="../../../assets/images/landing-images/landing-{{
        this.landingImg
      }}.svg"
      class="d-block d-md-none"
      id="title-img-mobile"
    /> -->
  <div id="landing-border">
    <!-- <p class="frame-text d-none d-md-block frame-l">&#8226; &#8226; &#8226; Mississauga, ON</p>
      <a class="frame-text d-none d-md-block frame-r" href="mailto:hello@janakitti.com">hello@janakitti.com</a> -->
    <div class="d-none d-md-flex vertical-center mr-3 socials-bar">
      <!-- <a
          href="//janakitti.com/assets/JanakittiRatanaRueangsri-Resume.pdf"
          target="_blank"
          ><img src="../../../assets/icons/file-text.svg" class="social mb-3"
        /></a> -->
      <a href="//github.com/janakitti" target="_blank"
        ><img src="../../../assets/icons/link-github.svg" class="social mb-3"
      /></a>
      <a href="//linkedin.com/in/janakittiratana/" target="_blank"
        ><img src="../../../assets/icons/link-linkedin.svg" class="social mb-3"
      /></a>
      <a href="//instagram.com/artwork.jr/" target="_blank"
        ><img
          src="../../../assets/icons/link-instagram.svg"
          class="social mb-3"
      /></a>
      <a href="mailto:hello@janakitti.com" target="_blank"
        ><img src="../../../assets/icons/link-mail.svg" class="social mb-3"
      /></a>
      <a href="https://se-webring.xyz/" target="_blank"
        ><img src="../../../assets/icons/se-webring.svg" class="social"
      /></a>
    </div>
    <!-- <div class="d-flex d-md-none vertical-center mr-3 socials-bar-mobile">
        <a href="//janakitti.com/assets/JanakittiRatanaRueangsri-Resume.pdf" target="_blank"><img src="../../../assets/icons/file-text.svg" class="social mr-3"></a>
        <a href="//github.com/janakitti" target="_blank"><img src="../../../assets/icons/link-github.svg" class="social mr-3"></a>
        <a href="//linkedin.com/in/janakittiratana/" target="_blank"><img src="../../../assets/icons/link-linkedin.svg" class="social mr-3"></a>
        <a href="//instagram.com/artwork.jr/" target="_blank"><img src="../../../assets/icons/link-instagram.svg" class="social mr-3"></a>
        <a href="mailto:hello@janakitti.com" target="_blank"><img src="../../../assets/icons/link-mail.svg" class="social"></a>
      </div> -->
    <div class="px-5 py-3" id="title-container">
      <h1 class="d-none d-md-block" id="landing-title">janakitti</h1>
      <h5 class="d-none d-md-block" id="landing-subtitle">
        Software Engineering student
      </h5>
      <h1 class="d-block d-md-none" id="landing-title-mobile">janakitti</h1>
      <h5 class="d-block d-md-none" id="landing-subtitle-mobile">
        Software Eng
      </h5>
    </div>
  </div>
</div>
