<div class="container-fluid full-width vertical-center center-children" id="landing-container">
  <div class="container-fluid full-width" id="landing-img">
    <div id="landing-border">
      <p class="frame-text" id="frame-l">&#8226; &#8226; &#8226; WATERLOO, ON</p>
      <a class="frame-text" id="frame-r" href="mailto:hello@janakitti.com">hello@janakitti.com</a>
      <div class="px-5 py-3" id="title-container">
        <h1 id="landing-title">janakitti</h1>
      </div>
    </div>
  </div>
</div>
