<div class="my-5" id="about-container">
  <div class="row">
    <div
      class="
        order-1
        col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2
        vertical-center
        justify-content-center
      "
    >
      <img
        id="profile-pic"
        src="../../../../assets/images/profile-pic.png"
        alt="o"
      />
    </div>
    <div class="order-2 col-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <h2 id="section-title">Hello</h2>
      <p class="about-body">
        I am a third year Software Engineering student at the University of
        Waterloo. I'm really passionate about exploring the bridge between
        technology and design, whether it’d be through web dev, game dev, or
        UI/UX design.
      </p>
      <p class="about-body mt-1">
        This past winter, I was a Full Stack Developer at
        <a href="https://www.darwinai.com/" target="_blank">DarwinAI</a>, and
        prior to that, I was a Software Developer at
        <a
          href="https://www.linkedin.com/company/providius-corp/"
          target="_blank"
          >Providius Corp.</a
        >
        Currently, I'm working at
        <a href="https://spatial.io/" target="_blank">Spatial</a> as an AR/VR
        Software Developer!
      </p>
      <p class="about-body mt-1">
        In my spare time, I enjoy playing the guitar, doing graphic design, and
        exploring film and animation.
      </p>
    </div>
  </div>
  <!--  <div class="row">-->
  <!--    <div class="col-12 pt-5 vertical-center justify-content-center">-->
  <!--      <app-links></app-links>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
