#profile-pic {
  height: 8em;
  width: 8em;
  border: 0.4em solid #FFFFFF;
  align-self: center;
  display: inline-block;
  border-radius: 100em;
  box-shadow: 0 0 0.1em #595959;
}

#profile-pic-col {
  display: inline-block;
  vertical-align: middle;
}

#about-title {
  font-font: Poppins;
  font-weight: bold;
  font-size: 1.8em;
}

#about-body {
  font-family: Roboto;
  text-align: justify;
}
