<div class="container mt-5 py-3" id="about-container">
  <div class="row">
    <table>
      <tr>
        <td class="d-none d-md-block pr-5" style="vertical-align:top;">
          <img id="profile-pic" src="../../../../assets/images/profile-pic.png" alt="o">
        </td>
        <td class="">
          <h1 id="about-title">Hello</h1>
          <p id="about-body">I am a 2A Software Engineering student at the University of Waterloo with a passion for exploring
            the bridge between technology and design. Apart from coding, my interests include graphical arts, film,
            animation, and guitar.</p>
        </td>
      </tr>
    </table>
  </div>
</div>
