<div class="my-5" id="about-container">
  <div class="row">
    <div
      class="order-1 col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 vertical-center justify-content-center"
    >
      <img
        id="profile-pic"
        src="../../../../assets/images/profile-pic.jpg"
        alt="o"
      />
    </div>
    <div class="order-2 col-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <h2 id="section-title">Hello</h2>
      <p class="about-body">
        I am a fourth year Software Engineering student at the University of
        Waterloo. I'm really passionate about exploring the bridge between
        technology and design. I'll be graduating in April 2024 and am seeking
        full-time opportunities starting spring/summer 2024.
      </p>
      <p class="about-body mt-1">
        I'm currently working as a Research Assistant at the
        <a
          href="https://uwaterloo.ca/social-intelligent-robotics-research-lab/"
          target="_blank"
          >Social and Intelligent Robotics Research Laboratory (SIRRL)</a
        >
        at the University of Waterloo. I'm working on new software approaches to
        improve social interaction in AI robotics, with a focus on continual
        learning over long-term interactions with humans. This past summer, I
        was a SWE intern at
        <a
          href="https://careers.google.com/students/engineering-and-technical-internships/"
          target="_blank"
          >YouTube</a
        >
        in Mountain View, working on the
        <a
          href="https://www.youtube.com/creators/how-things-work/video-monetization/"
          target="_blank"
          >YPP</a
        >
        Infra team. Earlier this year, I was a 3D Software Developer intern on
        the Oscar-winning R&D team at SideFX, working on their
        <a href="https://www.sidefx.com/" target="_blank">Houdini</a> VFX
        software. Prior to that, I've worked at
        <a
          href="https://careers.google.com/students/engineering-and-technical-internships/"
          target="_blank"
          >Google</a
        >
        as a Software Developer Intern,
        <a href="https://spatial.io/" target="_blank">Spatial</a> as an AR/VR
        Software Developer,
        <a href="https://www.darwinai.com/" target="_blank">DarwinAI</a> as a
        Full Stack Developer, and
        <a href="https://providius.com/" target="_blank">Providius Corp</a>
        as a SWE intern.
      </p>
      <p class="about-body mt-1">
        In my spare time, I enjoy playing the
        <a href="https://www.instagram.com/strings.jr/" target="_blank"
          >guitar</a
        >, creating
        <a href="https://www.instagram.com/artwork.jr/" target="_blank"
          >digital art</a
        >, and exploring film and animation.
      </p>
    </div>
  </div>
  <!--  <div class="row">-->
  <!--    <div class="col-12 pt-5 vertical-center justify-content-center">-->
  <!--      <app-links></app-links>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
