<app-hero></app-hero>
<div class="shell" [ngClass]="responsive.isMobile ? 'mobile' : ''">
  <app-section [title]="'Hello'">
    <p>
      I’m Janakitti (ya-na-kit). I’m a Software Engineering graduate from the
      University of Waterloo and an incoming APM at Google. I’ve previously
      worked at YouTube, SideFX, Spatial, DarwinAI (now acquired by Apple), and
      Providius Corp. In my spare time, I enjoy working out, hiking, creating
      digital art, playing the guitar, and curating music.
    </p>
  </app-section>
  <app-section [title]="'Dashboard'">
    <app-dashboard />
  </app-section>
</div>
