<!--suppress HtmlUnknownTarget -->
<footer class="vertical-center align-items-center pt-4 pb-3 d-flex" id="footer">
  <div>
    <a class="m-4" href="https://github.com/janakitti" target="_blank">
      <img src="../../../assets/icons/github.svg" alt="GitHub" class="social-icon">
    </a>
    <img id="footer-logo" src="../../../assets/icons/logo.png">
    <a class="m-4" href="https://www.instagram.com/artwork.jr/" target="_blank">
      <img src="../../../assets/icons/instagram.svg" alt="Instagram" class="social-icon">
    </a>
  </div>

</footer>
