#footer {
  background: #1f1f1f;
  height: 3em;
}

#footer-text {
  font-family: Poppins;
  font-size: 0.9em;
  letter-spacing: 0.2em;
  color: rgb(88, 88, 88);
}

#footer-logo {
  height: 3em;
  width: 3em;
}
