#resume-container {
  background: var(--main-grey);
}

.resume-header {
  font-family: Poppins;
  font-size: 2em;
}

.project-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 0;
}

.experience-position {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 0;
}

.experience-organization {
  font-family: Roboto;
  font-weight: lighter;
  font-size: 1.3em;
  line-height: 0;
}

.achievement-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1em;
  line-height: 0;
}

.achievement-date {
  font-family: Roboto;
  font-weight: lighter;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.achievement-desc {
  margin: 0;
}

.subtitle {
  font-family: Roboto;
  font-size: 1em;
  font-style: italic;
  line-height: 1.5em;
  margin-bottom: 0em;
}

.date {
  font-family: Roboto;
  font-weight: lighter;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.desc {
  font-family: Roboto;
  font-size: 0.9em;
}

.tech {
  background-color: #eaeaea;
  display: inline-block;
  border-radius: 30px;

  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.2em 0.5em;
}

.tech:hover {
  background-color: #cccccc;
}

ul {
  padding-left: 1em;
}

.link-arrow {
  height: 1.4em;
  width: 1.4em;
}
