<div class="container-fluid full-width pb-5" id="resume-container">
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-8">
      <div class="row">
        <div class="order-1 col-12 col-md-6 mb-4 px-0 px-md-5">
          <h2 class="resume-header">Projects</h2>
          <div *ngFor="let project of dataService.resume.projects" class="project my-4">
            <span class="project-title">{{ project.title }}</span>
            <a href="//{{ project.link}}" target="_blank">
              <img src="../../../assets/icons/link.svg" class="link-arrow ml-2 pb-1">
            </a>
            <p class="subtitle">{{ project.subtitle }}</p>
            <p class="date">{{ project.date }}</p>
            <div *ngFor="let tech of project.tech" class="tech mb-2 mr-2" [ngStyle]="{'color': formatService.skillpills[tech]}">
              {{ tech }}
            </div>
            <ul>
              <li *ngFor="let desc of project.description" class="desc"> {{ desc }}</li>
            </ul>
          </div>
        </div>
        <div class="order-2 col-12 col-md-6 mb-4 px-0 px-md-5">
          <h2 class="resume-header">Experience</h2>
          <div *ngFor="let exp of dataService.resume.experiences" class="project my-4">
            <span class="experience-position">{{ exp.position }} | </span>
            <span class="experience-organization">{{ exp.organization }}</span>
            <p class="date">{{ exp.date }}</p>
            <span *ngFor="let tech of exp.tech">
              <div *ngIf="tech != ''"  class="tech mb-2 mr-2" [ngStyle]="{'color': formatService.skillpills[tech]}" class="tech mb-2 mr-2" [ngStyle]="{'color': formatService.skillpills[tech]}">
                {{ tech }}
              </div>
            </span>
            <ul>
              <li *ngFor="let desc of exp.description" class="desc" [innerHTML]="desc"></li>
            </ul>
          </div>
          <h2 class="resume-header">Long-Term Projects</h2>
          <div *ngFor="let port of dataService.resume.portfolios" class="project my-4">
            <span class="experience-position">{{ port.title }} | </span>
            <span class="experience-organization">{{ port.subtitle }}</span>
            <a href="//{{ port.link}}" target="_blank">
              <img src="../../../assets/icons/link.svg" class="link-arrow ml-2 pb-1">
            </a>
            <p class="date">Created in {{ port.date }}</p>
            <p class="desc" [innerHTML]="port.description"></p>
          </div>
          <h2 class="resume-header">Achievements</h2>
          <div *ngFor="let ach of dataService.resume.achievements" class="project my-4">
            <span class="achievement-date">{{ ach.date }}</span>
            <span class="achievement-title"> // {{ ach.title }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
